
.wasserwerk-container {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 3fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: column;
    grid-template-areas: "map-left map-center map-right map-pump";
}

.pump-icon {
    position: relative;
    height: 1.6rem;
}

.droplets {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
}

.drop {
    position: absolute;
    height: 8%;
    visibility: hidden;
    width: 8%;
    right: 7.2%;
}

.card-container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.pump-card {
    color: aliceblue;
    background-color: black;
    border-radius: 0.85rem;
    padding: 1rem;
    min-width: 10rem;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}

.pump-card > .card-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.card-text > h3 {
    margin: 0;
}

.card-text > h3, span {
    text-overflow: clip;
}

.map {
    position: relative;
}

.map > img {
    width: 100%;
    height: 100%;
}

.map-left { grid-area: map-left; }
.map-center { grid-area: map-center; }
.map-right { grid-area: map-right; }
.map-right > .card-container {
    align-items: flex-end;
}
.map-pump { grid-area: map-pump; }